@use 'vuetify/settings' with (
    $text-field-border-radius: 100px
);

@font-face {
    font-family: 'Inter';
    src: url('@/assets/Inter/normal.ttf') format('truetype');
    font-style: normal;
}

