* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #94aac985;
    border-radius: 5px;
    background-blend-mode: multiply;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #94aac9;
      background-blend-mode: multiply;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #6a82a5;
      background-blend-mode: multiply;
    }
  }
}
#app {
  max-width: 100vw;
  width: 100%;
  padding: 0;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}
body {
  display: flex;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #eeeeee;
}
